<div class="left">
    <p>
        Patrice CHAUVIN<br>
        47, rue des Plantes<br>
        45750<br>
        St PRYVE St MESMIN<br>
        Port. : 06 70 79 54 69<br>
        Mail :<br>
        <a href="mailto:contact@artisansconsult.fr" target="_blank">contact@artisansconsult.fr</a>
    </p>
    <a href="https://www.facebook.com/Artisans-Consult-472853609451752/" target="_blank">
        <img src="{{ asset('build/images/Lien-FB.jpg') }}" alt="facebook">
    </a>
    <div class="orange">&nbsp</div>
</div>