@use "sass:math";

@import 'variables';

.blank {
    height: 126px;
    width: 100%;
    box-shadow: 0px 10px 76px 50px #ececee;
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
}

.navbar {
    background-color:#ececee;
    background-image: url(../images/backgroundHeaderAndLogo.jpg);
    background-clip: border-box;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto 100px;
    height: 127px;
    width: 100%;
    $buttons-size: math.div(97vw, 7);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 30;

    .navbar-toggler {
        position: fixed;
        top: 42px;
        right: 5px;
        font-size: 50px;
        &:focus,
        &:active,
        .fas {
            box-shadow: none;
            outline: none;

            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
    }

    display: flex;
    justify-content: space-evenly;
    
    .container-fluid {
        align-items: unset;
        width: 100%;
        height: 127px;
        padding: 0;
        margin: 0;
    }

    .navbar-collapse {
        align-items: unset;
        margin-top: 105px;
        width: 100%;

        @media screen and (max-width: 992px) {
            margin-top: 140px;
        }
    }

    .navbar-nav {
        height: 27px;
        margin-top: 0px;
        margin-right: 10px;
        margin-left: 12px;
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;

        .nav-items {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-right: 8px;
            margin-left: 8px;

            @media screen and (max-width: 992px) {
                height: 60vh;
                width: 97vw !important;
                background: $secondary !important;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center !important;
                text-align: center !important;
                margin: auto;
            }
        }

        @media screen and (max-width: 992px) {
            height: 60vh;
            margin: auto;
            width: 97vw !important;
            background: $secondary !important;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .nav-item{
            width: 100%;
            
            .nav-link{
                background: $secondary;
                height: 27px;
                color: $warning;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                &:hover, &.active {
                    color: $white;
                    background: radial-gradient(ellipse at bottom, #fbe500, #fcd000, #fabb00, #f7a700, #f19300);
                }
                @media screen and (max-width: 992px) {
                    background: $secondary !important;
                    width: 97vw;
                    height: 55px;
                    font-size: 50px;
                    text-align: center;
                }
            }
        
            .grey {
                width: $left_grey_width;
                &:hover {
                    background: $secondary;
                }
                @media screen and (max-width: 992px) {
                    display:none !important;
                }
            }

            .lightGrey {
                background: $lightgrey;
                width: $right_lightGrey_width;
                &:hover {
                    background: $lightgrey;
                }
                @media screen and (max-width: 992px) {
                    display:none !important;
                }
            }
        }

        .greyBar {
            width: $left_grey_width;
        }

        .lightGreyBar {
            width: $right_lightGrey_width;
        }
    }
}

.greyNav {
    height: 13px;
    width: 100%;
    background-color: #ececee;
    position: fixed;
    z-index: 20;
    top: 127px;
}